<html>
<head>
<title>Salt API</title>
<link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico">
</head>
<body>
<h2>Salt API</h2>
<ul>
<li><a href="http://github.com/holmboe/django-saltapi">http://github.com/holmboe/django-saltapi</a>
<li><a href="http://salt.readthedocs.org/projects/salt-api/en/latest">http://salt.readthedocs.org/projects/salt-api/en/latest</a>
<li><a href="http://salt.readthedocs.org/en/latest">http://salt.readthedocs.org/en/latest</a>
</ul>
</body>
</html>
